*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/node_modules
/.next
/web/node_modules
/web/.next
.env
.env.*
!.env.example
*.xcworkspace
*.xcuserdata
Pods/
*.xcodeproj
xcuserdata/
*/build/
.gradle/
